@charset "UTF-8";
/* CSS Document */

img {
	position:;relative;
	background-position: center;
}

.img2 {
	background-color: #e2e2d4;
	background-position: center;
	background-size: contain;
}

.img3 {
	background-position: center;
	background-size: contain;	
}